/* Fonts Config  */

/* @font-face {
    font-family: Arial, Helvetica, sans-serif;
} */


/* Font Colors */

$base-font-size:14px;
$base-primary-font-family: Arial, Helvetica, sans-serif;


/* Background Colors */

$primary-color: #000a52;
$secondary-color: #325f70;
$third-color: #6397aa;

$btn-primary-color: #99c873;
$btn-secondary-color: transparent;


/* Website's Width */

$base-site-width: 1010px;